<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>

<div class="fullWidth header">
 <div class="container">
   <div class="  col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-1 header-logo"><a href="#" class="header-logo-name">Ultra Savers.</a></div>
   <div class="  header-nav">
     <ul>
       <li>
         <a href="#" class="header-nav-link header-nav-top-link">Home</a>
       </li>
       <li>
         <a href="#" class="header-nav-link header-nav-top-link">About Us</a>
       </li>
       <li>
         <a href="#" class="header-nav-link header-nav-top-link">Accounts</a>
         <ul>
           <li><a href="/views" class="header-nav-link header-nav-sub-link">Parent</a></li>
           <li><a href="#" class="header-nav-link header-nav-sub-link">Child</a></li>
         </ul>
       </li>
       <li>
         <a href="#" class="header-nav-link header-nav-top-link">Financial Planner</a>
         <ul>
           <li><a href="#" class="header-nav-link header-nav-sub-link">Spendings</a></li>
           <li><a href="#" class="header-nav-link header-nav-sub-link">Savings</a></li>
         </ul>
       </li>

         <li>
         <a href="#" class="header-nav-link header-nav-top-link">Rewards</a>
         <ul>
           <li><a href="#" class="header-nav-link header-nav-sub-link">Redeem</a></li>
           <li><a href="#" class="header-nav-link header-nav-sub-link">Referral</a></li>
         </ul>
       </li>

       <li>
         <a href="#" class="header-nav-link header-nav-top-link">Login</a>
       </li>
       <li>
         <a href="#" class="header-nav-link header-nav-top-link">Sign Up</a>
       </li>


     </ul>

   </div>
 </div>
</div>


