{% extends 'layout.html' %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel = 'stylesheet' href="../static/css/style.css">


</head>
<body>
     <div class="loginBox">
         <img src="../static/images/user.png" class="user">
         <h2>Hey there !</h2>

             <p>Username</p>
             <input type="text" name="" placeholder="Enter Username">
             <p>Password</p>
             <input type="password" name="" placeholder="XXXXXX">
             <input type="submit" name="" value="Sign In">
             <button name="" type="textbox" value="Register" id="reg"><a href="/Graph">Register</a></button>
         <br>
         <br>

             <a href = '#'>Forget Password</a>


         </form>

     </div>
</body>
</html>
{% endblock %}
#USE SINGPASS ACCOUNT FOR REGISTRATION THE LINK THE BANK ACCOUNT
